defusedxml==0.4.1
Django==1.10.3
django-allauth==0.29.0
django-material==0.10.1
django-rest-auth==0.8.2
djangorestframework==3.5.3
djangorestframework-jwt==1.8.0
oauthlib==2.0.1
Pillow==3.4.2
PyJWT==1.4.2
python3-openid==3.0.10
requests==2.12.1
requests-oauthlib==0.7.0
six==1.10.0
